# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:courteous-snail-407 # team: purposelabs, project: anthropic-hackathon

NEXT_PUBLIC_CONVEX_URL=https://courteous-snail-407.eu-west-1.convex.cloud

NEXT_PUBLIC_CONVEX_SITE_URL=https://courteous-snail-407.eu-west-1.convex.site

ANTHROPIC_API_KEY=

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_ZmFuY3ktcXVhZ2dhLTY4LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_lHXNv14rj0BSxCncJPqkajp6gI3tgKJFlUIWLUbQxv
CLERK_JWT_ISSUER_DOMAIN=https://fancy-quagga-68.clerk.accounts.dev